* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", Verdana, sans-serif;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    gap: 20px;
}
h1, h2, h3, h4, h5, h6 {
    color: #04AA6D;
    font-size: 2em;
    margin-bottom: 10px;
}

.header {
    
    border-radius: 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    margin-right: 100px;
}

.menuitem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    background-color: #6c6c6c; 
    margin-right: 100px;
}

.menuitem:hover {
    background-color: #04AA6D;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 7px;
    margin: 5px;
    border-radius: 5px;
}

.belowContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #d4d4d4; 
    margin-right: 100px;
    padding: 20px;
}

a {
    color: #000000;
}